<style>
    .overlay {
        position:absolute;
        bottom:0;
        
    }
    .test_fb {
        width:auto;  
        height:auto;
        position:relative;
    }
    .card > img {
        #object-position:center;
        #object-fit:fill;

    }
</style>
<!-- methodo 1 : accettare che fb mi da 50px, e test_fb = 50px
     2 : metter wifdth auto
-->
<br/>
<br/><br/><br/>
<h2>hello user </h2><small>{{user}} 
    
</small>
<div style="padding-left:4vw;">
FB MESSAGE: {{message}}
<div ng-if="!user"><a href="/home"></a></div>
    <a href="#cascata" class="btn btn-default"> RESET</a>
<div class="row col-sm-12">
    <div class="divider col-sm-8"></div>
    <div class="card card-block border-0 col-sm-4">

        <div class="test_fb">
        <img  src="images/greets.gif">
            <div class="overlay bg-dark py-2 px-2 rounded-circle"><i style="color:#ccc" class="fa fa-edit fa-2x"></i></div>
        </div>

    </div>
</div>

<div ng-if="!user" style="padding-top:50px;"><h2> USER is NULL</h2>  
     <!--  questo va rui            rootscope -->
    
</div>
<a ng-if="user" href="#" class="btn btn-info" ng-click="logout()">LOGOUT</a>

<div >
    <a href="" class="btn btn-info" ng-click="testCall()">AGGIUNGI SUVSCRIBEn</a>
</div>
<pre>{{preferenceJSON}}</pre>
<pre>{{debugPref}}</pre>